@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-web/lato-regular-webfont.eot');
    src: url('../fonts/lato-web/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-web/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-web/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-web/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-web/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-web/lato-bold-webfont.eot');
    src: url('../fonts/lato-web/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-web/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-web/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-web/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-web/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}