@import url("fontface.css");

body, input {
    font-family: 'latoregular', 'Verdana';
    font-size: 12px;
}

body {
    background:#888;
    color: #4c4c4c;
}
#logo {
    width: 165px;
}
#logo-text {
    width: 120px;
}
#main {
    background: #c4c4c4; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#c4c4c4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c4c4c4 10%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #c4c4c4 10%,#ffffff 100%); /* W3C */
    width: 480px;
    border-radius: 12px;
    text-align: center;
    padding: 1em;
    position: absolute;
    left: 50%;
    margin-left: -240px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
}
label {
    width: 50%;
    display: inline-block;
    text-align: left;
    padding: 0.3em;
    box-sizing: border-box;
}

input {
    border-radius: 5px;
    border: 1px solid #CCC;
    padding: 0.4em;
    width: 49%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

#message, fieldset {
    margin-bottom: 1em;
}

#message.error {
    color: red;
}

fieldset {
    border-radius: 12px;
}