@import url("fontface.css");

body, input {
    font-family: 'latoregular', 'Verdana';
    font-size: 12px;
}

body {
    background:#cfcfcf;
    color: #4c4c4c;
    padding: 5px 10px;
}

#content {
  padding: 0;
  margin: 16px 0;
}

.halloo-note {
  font-size: 14px;
  list-style: none;
  margin-bottom: 1em;
}

.halloo-note .close {
  top: 0px;
}

.halloo-avatar {
  width: 60px;
  height: 60px;
  border: 5px #444 solid;
  border-radius: 100%;
  float: left;
  margin-right: 0em;
  z-index: 1;
  background: #eee;
}
.halloo-content {
  position: relative;
  top: 1em;
  left: 2em;
  z-index: -1;
}
.halloo-message {
  padding: 0.5em;
  background: #f0f0f0;
  border-radius: 10px;
}

.halloo-message-text {
  margin: 1em 0;
}

.halloo-username {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.halloo-datetime {
  font-size: 0.8em;
  display: block;
  margin-bottom: 0.5em;
}

.clear {
  clear: both;
}

/* beginning of halloo! cases */

.halloo-case {
    list-style: none;
    background: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    position: relative;
}
.halloo-case-details {
    padding: 20px 20px 10px 20px;
    margin: 0;
    list-style: none;
}
.halloo-case-details li {
    margin-bottom: 0.3em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.fa {
    font-size: 1.2em;
    margin-right: 5px
}
.fa:before {
    text-align: center;
    display: inline-block;
    width: 18px;
}
.halloo-case-name {
    color: #ca165b;
}
.halloo-case-process .fa {
    color: #d3b400;
}
.halloo-case-calendar .fa {
    color: #1d96a3;
}
.halloo-case-task .fa {
    color: #494949;
}
.halloo-case-message,
.halloo-case-footer {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.halloo-case-message {
    display: none;
    text-align: center;
}
.halloo-case-event-message {
    background: rgba(100, 100, 100, 0.3);
    margin: 0 10px 10px 10px;
    padding: 0.5em;
    border-radius: 10px;
}
.halloo-case-footer {
    text-align: center;
}
.halloo-button {
    background: #ffffff; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(24%,#e5e5e6), color-stop(77%,#bababa), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e6 24%,#bababa 77%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e6 24%,#bababa 77%,#8a8a8a 100%); /* W3C */
    color: #444;
    font-size: 11px;
    padding: 6px;
    min-width: 45px;
    display: inline-block;
    border-radius: 4px;
    border: 1px #9e9e9e solid;
    text-decoration: none;
    margin: 0 2px;
    outline-width: 2px;
    text-align: center;
}
.halloo-button.alert {
  color: red;
}
.halloo-button:hover, .halloo-button:active {
    border: 1px #686868 solid;
}
.halloo-button:active {
    background: #8a8a8a; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(15%,#bababa), color-stop(15%,#bababa), color-stop(20%,#bababa), color-stop(79%,#e5e5e6), color-stop(79%,#e5e5e6), color-stop(81%,#e5e5e6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8a8a8a 0%,#bababa 15%,#bababa 15%,#bababa 20%,#e5e5e6 79%,#e5e5e6 79%,#e5e5e6 81%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #8a8a8a 0%,#bababa 15%,#bababa 15%,#bababa 20%,#e5e5e6 79%,#e5e5e6 79%,#e5e5e6 81%,#ffffff 100%); /* W3C */
}

.halloo-button-group {
    display: inline-block;
}

.halloo-button-group .halloo-button {
  margin:0;
  float: left;
}

.halloo-button-group .halloo-button:not(:first-child){
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.halloo-button-group .halloo-button:not(:last-child){
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#button-group-container {
    text-align: center;
    margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}